@import "src/style/base.scss";
@import "src/style/global.scss";
.rootProfile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background{
  height: 150px;
  width: 100%;
  img{
    object-fit: cover;
    object-position: center;
    border-radius: $smRadius;

    height: inherit;
    width: inherit;

  }
}

.authorName{
  font-family: Arial, sans-serif; /* 设置字体 */
  font-size: 25px; /* 设置字号 */
  font-weight: bold; /* 设置字体粗细 */
}

.avatar{
  display:inline-block;
  position: relative;
  top:-40px;

  height: 50px;
}

.description{
  display: flex;
  flex-direction: column;
  gap: 7px;

  width: 90%;
  padding: $padding (10px);
  font-size: 14px;
  color: $grey500;

}

.others{
  width: 90%;
  padding-top:$padding (10px);
  padding-bottom: $padding (10px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 75px;

  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.linkLayout{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.link:hover{
  color: $info100;
}