.textEditorContainer{
  width: 95%;
}

.textPreview{
  width: 95%;
  min-height: 5vh;
}

.layout{
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  gap: 10px;

}

.coverPreview{
  align-self: flex-start;
}

.textEditorContainer section{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textEditorContainer .row1{
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-flow: wrap;
}


.textEditorContainer .upload{
  align-self: flex-start;
}

.textEditorContainer .submit{
  align-self: flex-start;
}