@import "src/style/base.scss";
@import "src/style/global.scss";
.root{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 15px;

  width: inherit;
  height: 130px;

  //cursor: pointer;
}

.root:hover{
  background-color: $grey300;
  transform: scale(1.01);
  transition: background-color 0.5s ease, transform 0.5s ease; // 动画
  border-radius: inherit;
}

.expand{

}


.gap{
  width: 20px;
}

.image{
  flex-grow: 0;
  height: 130px;
  width: 130px;
  img{
    border-radius: $smRadius;
    object-fit: cover;

    height: inherit;
    width: inherit;
    
  }
}

.text{
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;
  gap: 5px;

  .title{
    flex-grow: 0;
  }

  .title:hover{
    cursor: pointer;
  }

  .article{
    flex-grow: 1;
    //height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .article:hover{
    cursor: pointer;
  }
  .others{
    flex-grow: 0;
    //align-self: flex-end;
  }
  .tags{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}

