@import "src/style/base.scss";

.root{
  background-color: $grey100;
  width: inherit;
  height: $navigatorHeight;
  box-shadow: $box-shadow;

  position: fixed;
  top: 0;
  opacity: 95%;
  z-index: 1;

  transition: $transitionMotion;
}

.hidden {
  transition: $transitionMotion;
  top: -$navigatorHeight - 2;
}

@media screen and (max-width: 640px) {

}