// Theme
$bgColor: #ffffff;

$grey100: #d3d3d3;
$grey200: #bdbdbd;
$grey300: #bdbdbd;
$grey400: #9e9e9e;
$grey500: #757575;


$info100: #5c90f8;
$info200: #3876fa;
$info300: #276bff;
$info400: #1259f6;
$info500: #0052ff;

$warning:#E34234 ;

$smRadius: 0.4em;
$mdRadius: 0.8em;
$lgRadius: 1.2em;

$margin: 5px;
$padding: 5px;

$box-shadow: 0px 1px 2px $grey400;

// Layout
$navigatorHeight: 60px;
$mobile: 620px;
$tablet: 1240px;

// motion
$transitionMotion: top 0.5s ease;

// Grid Layout
$gridGap: 10px