@import "base.scss";
html,
body,
#root{
  background-color: $grey200;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

img{
  //-webkit-user-drag: none;
  border-radius: inherit;

  //width: inherit;
  //height: inherit;
}

a{
  text-decoration: none; /* 移除下划线 */
  color: inherit; /* 继承父元素的文本颜色 */
  cursor: text; /* 改变光标样式为文本型 */
}

hr{
  border: solid $grey200 1px;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 7px; /* 滚动条宽度 */
}

/* 滚动条滑道 */
::-webkit-scrollbar-track {
  background:$grey200; /* 滑道背景色 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: $grey500; /* 滑块背景色 */
  border-radius: $lgRadius; /* 滑块边框半径 */
}

/* 鼠标悬停在滑块上的样式 */
::-webkit-scrollbar-thumb:hover {
  background:  $grey500; /* 滑块悬停时的背景色 */
}

