@import "@/style/base.scss";
@import "@/style/global.scss";
.layout{
  background-color: $grey-100;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-radius: $border-radius-lg;
}

.layout section{
  flex-grow: 2;
  padding: 10px;
}

.navigation{
  display: flex;
  flex-grow: 0;
}

.navigation aside{
  flex-grow: 0;
  min-width: 200px;
  background-color: white;
  overflow-y: auto;
}

.navigation hr{
  flex-grow: 0;
  margin: 0;
  border: 2px solid $grey-400;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}

.layout section{
  overflow-y: auto;
}

.systemReminder{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}