@import "@/style/base.scss";
@import "@/style/global.scss";

.aboutLayout{
}

// 被定位的实体初始位置 or 状态
.flagRight {
  opacity: 0;
  transition: all 1.5s;
  transform: translateX(100%);
}
// 被定位的实体初始位置 or 状态
.flagLeft{
  opacity: 0;
  transition: all 1.5s;
  transform: translateX(-100%);
}
// 被定位的实体的结束 or 激活状态
.active {
  opacity: 1;
  transform: translateX(0);
}


.aboutLayout section{
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}


.aboutLayout .imageContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.aboutLayout img{
  height: 70vh;
  width: 440px;
  object-fit: cover;
  border-radius: $border-radius-md;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.5);
}

.aboutLayout h1{
  font-size: 64px;
}



@media screen and (max-width: 940px) {
  .aboutLayout .aboutSection{
    grid-template-rows: 1fr 2fr;
    grid-template-columns: none;
    grid-gap: 20px;
  }

  .aboutLayout img{
    height: 40vh;
  }

  .aboutLayout h1{
    font-size: 32px;
  }
}