// font


// palette
$grey-50: #f9f9f9;
$grey-100: #f0f0f0;
$grey-200: #e0e0e0;
$grey-300: #d1d1d1;
$grey-400: #bfbfbf;
$grey-500: #a8a8a8;
$grey-600: #8f8f8f;
$grey-700: #757575;
$grey-800: #5e5e5e;
$grey-900: #3b3b3b;

$red-50: #ffebee;
$red-100: #ffcdd2;
$red-200: #ef9a9a;
$red-300: #e57373;
$red-400: #ef5350;
$red-500: #f44336;
$red-600: #e53935;
$red-700: #d32f2f;
$red-800: #c62828;
$red-900: #b71c1c;


$white: #ffffff;

$blue-50: #e3f2fd;
$blue-100: #bbdefb;
$blue-200: #90caf9;
$blue-300: #64b5f6;
$blue-400: #42a5f5;
$blue-500: #2196f3;
$blue-600: #1e88e5;
$blue-700: #1976d2;
$blue-800: #1565c0;
$blue-900: #0d47a1;

// radius
$border-radius-sm: 3px;
$border-radius-md: 6px;
$border-radius-lg: 9px;

// Weight
$image-weight-normal-mobile: 300px;
$image-weight-normal-web: 400px;

// Height


// view
$z-index-lvl-1: 1;
$z-index-lvl-2: 2;
$z-index-lvl-3: 3;
$z-index-lvl-4: 4;
$z-index-lvl-5: 5;
$z-index-lvl-6: 6;
$z-index-lvl-7: 7;
$z-index-lvl-8: 8;
$z-index-lvl-9: 9;
$z-index-lvl-10: 10;

