// font


// palette
$grey-50: #f9f9f9;
$grey-100: #f0f0f0;
$grey-200: #e0e0e0;
$grey-300: #d1d1d1;
$grey-400: #bfbfbf;
$grey-500: #a8a8a8;
$grey-600: #8f8f8f;
$grey-700: #757575;
$grey-800: #5e5e5e;
$grey-900: #3b3b3b;

$white: #ffffff;

// radius
$border-radius-sm: 3px;
$border-radius-md: 6px;