@import "style/base.scss";

// root
.root{
  display: grid;
  //grid-gap: 10px;
  grid-template-columns: 20% 60% 20%;
  margin-top: $navigatorHeight + 5;
  height: inherit;
  width: inherit;

  outline: none;

  opacity: 85%;
}

.rootTablet{
  grid-template-columns: 30% 70%;
}
.rootTablet > :last-child {
  display: none;

}
.rootMobile{
  grid-template-columns: 100%; /* 将布局变为一列 */
  margin-left: 0;
}
.rootMobile > :last-child {
  display: none;
}

.content{

}
.profile{
  //display: grid;
  //grid-gap: 10px;
  //height: 900px;
}
.articleNev{
  height: auto;
}


.none{
  display: none;
}

//.root{
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//
//  height: inherit;
//
//  margin-top: $navigatorHeight;
//}
//
//.content{
//  flex-grow: 4;
//  width: 60%;
//  margin: $margin;
//}
//
//.aside{
//  flex-grow: 2;
//  width: 20%;
//  margin: $margin;
//  transition: width 0.9s ease;
//}
//
//.articleNav{
//  flex-grow: 2;
//  width: 20%;
//  margin: $margin;
//
//}
//
//
//.asideHidden{
//  width: 0;
//  flex-grow: 0;
//  transition: width 0.9s ease;
//  margin: 0;
//}
//
//.articleNavHidden{
//  display: none;
//}