@import "src/style/base.scss";
@import "src/style/global.scss";
.root{
  //margin-top: $navigatorHeight + 5;
}

.article{
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.coverImage img{
  object-fit: cover; /* 这将保持图片的比例 */
  display: flex;
  justify-content: center;
  max-width: 100%;

  cursor: auto;
}