@import "src/style/base.scss";
@import "src/style/global.scss";
.root{
  //margin-top: $navigatorHeight + 5;
}

.article{
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom img{
  cursor: default  !important;
}
