@import "src/style/base.scss";

.root{
  //margin-top: $navigatorHeight + 5;
}

.article{
  padding: 15px;
}

.coverImage img{
  object-fit: cover; /* 这将保持图片的比例 */
  display: flex;
  justify-content: center;
  max-width: 100%;

  cursor: pointer;
}