@import "@/style/global.scss";
@import "@/components/Cover/index.module.scss";

.article{
  display: flex;
  flex-direction: row;
  gap: 10px;

  h1{
    font-size: revert;
  }
}

.navigation{
  width: 200px;
}

.content{
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 10px;

  .coverImage{
    height: 200px;
    object-fit: cover;
    border-radius: $border-radius-md;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
}

.divider{
  height: 100%;
  margin: 0;
  border: solid $grey-400 1px;
}